
/* general */

* {
	box-sizing:border-box;
	margin:0px;
	padding:0px;
    font-family: 'Nunito', sans-serif;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

/* utilities */

.float-left{
    float:left
}

.float-right{
    float:right
}

/* content widht */

.w-10{
    width: 10%;
}

.w-15{
    width: 15%;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

/* content button */

.btn {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 20px;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    height: 38px;
    line-height: 20px;
    outline: none;
    padding: 8px 5px;
    text-align: center;
    text-decoration: none;
    width: 75px;
}

.btnbig {
    font-weight: 600;
    margin-left: 15px;
    border-radius: 30px;
    padding: 17px 33px;
    height: 57px;
    width: auto;
    font-size: 20px;
    margin-bottom: 55px;
}

.btnblk {
    background-color: #23272a;
    color: white;
}

.btnnav {
    margin-top: 22px;
    margin-left: 83px;
}

.wh:before {
    content: "\2913";
    padding-right: 5px;
}

/* content general */

.container {
    width: 1200px;
    margin: 0px auto;
}

.containermain {
    width: 1200px;
    margin: 80px auto 300px auto;
}

.containerimg {
    width: 800px;
}

.containertext {
    width: 400px;
}

.containertext h2 {
    font-size: 55px;
    font-weight: bold;
    line-height: 50px;
    padding-bottom: 29px;
    padding-top: 27px;  
}

.containertext p {
    font-size: 19px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.dx h2 {
        padding-left: 30px;
}

.dx p {
    padding-left: 25px;
}

.dx img {
    padding-left: 150px;
}

.logo{
    vertical-align: middle;   
}

.topheader{
        background-color:#3161e0 ;
        height: 80px;
        line-height: 80px;
 }

nav {
    text-align: center;
    float: left;
    vertical-align: middle;
 }

nav ul{
    list-style-type: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
 }

 nav ul li a {
     margin-left: 40px;
    text-decoration: none;
    color:white;
    font-weight:600;
    font-size: 17px;
 }

 a:hover {
    text-decoration: underline;
 }

 .bottomheader{
    position: relative;
    text-align: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 550px;
}

.bottomheader div{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.bottomheader h1{
    color: white;
    font-size: 65px;
    margin-bottom: 25px;

}
.bottomheader p{
    color: white;
    width: 780px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 2px auto;
    margin-bottom: 25px;
}